* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  z-index: 99;
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
}
.header-menuContainer {
  position: relative;
}
.header-info {
  padding-left: 30px;
}
.header-menuList {
  position: absolute;
  top: -90x;
  right: 0;
  width: 100vw;
  padding: 10px;
  padding: 10px 0 70px 0;
  background-color: white;
  box-shadow: 0px 4px 3px rgba(105, 105, 105, 0.6352941176);
}

.header-menuIconContainer {
  padding: 20px 30px 0 0;
}

.header-list {
  width: auto;
  height: 70px;
  border-bottom: 1px solid #4e4e4e;
  display: flex;
  font-weight: 400;
  align-items: center;
  padding-left: 20px;
  transition: 0.5s ease;
}

.main {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 80px;
}
.main-ImagenSeccion {
  padding-top: 130px;
  width: 300px;
  height: 300px;
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-img img {
  border-radius: 50%;
  width: 360px;
  height: 360px;
}
.main-decorate {
  z-index: -1;
  position: absolute;
  top: -274px;
  right: -86px;
  transform: translateX(-10%) translateY(-10%);
  width: 700px;
  height: 700px;
  background-image: radial-gradient(circle, #ede5f0, #e0cde6, #d2b5dc, #c59ed2, #b786c8);
  border-radius: 50%;
}

.infoSeccion-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.infoSeccion {
  padding: 0 30px;
  width: 100%;
}

.infoSeccion-title {
  margin-bottom: 30px;
  font-weight: 400;
}

.title {
  font-size: 36px;
}

.sub-title {
  font-size: 28px;
  color: #4e4e4e;
}

.CV-area {
  width: 100%;
  max-width: 600px;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 60px;
}

.botonCV {
  cursor: pointer;
  color: #4e4e4e;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #ede5f0, #e0cde6, #d2b5dc, #c59ed2, #b786c8);
  font-weight: bold;
  border: none;
  box-shadow: 1px 4px 4px #4e4e4e;
}

.botonCV:hover {
  color: white;
  background: #9d41bd;
}

.infoSeccion-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.skillSeccion {
  position: relative;
  padding: 0 30px;
}

.skillSeccion-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skillSeccion-arrow {
  width: 64px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.skillSeccion-soft {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-bottom: #4e4e4e 1px solid;
  margin-bottom: 30px;
}

.skillSeccion-softContainerInfo {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.codeSeccion {
  width: 100vw;
  padding: 0 30px;
}

.codeSeccion-icon {
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  grid-auto-rows: 100px;
}

.proyectSeccion {
  padding-left: 30px;
  padding-bottom: 40px;
  width: 100%;
}

.proyectSeccion-continer {
  padding-top: 40px;
}

.proyect-view {
  position: relative;
  overflow: hidden;
  width: 380px;
  height: 300px;
  border-radius: 20px;
  border: #6d6d6d 1px solir;
  box-shadow: 1px 1px 1px #4e4e4e;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.2s ease-in-out;
  margin: 20px 0;
}

.proyect-view:hover {
  transform: translateY(-10px);
  box-shadow: 1px 2px 4px #313131;
}

.proyect-img {
  position: absolute;
  top: 30px;
  right: 0px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  transform: translateX(50px);
  border-radius: 20px;
}

.proyect {
  height: 500px;
  position: absolute;
  width: 499px;
  top: 83px;
  left: 233px;
}

.proyect-codeUsed {
  width: 100%;
  margin: 20px 0;
  padding-left: 30px;
}

.proyect-links {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.proyect-boton {
  width: 200px;
  height: 40px;
  padding: 10px 0 0 0px;
  border-radius: 20px;
}

.proyect-boton:hover {
  background-color: #4e4e4e;
}

.footer {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(180, 132, 186, 0.8901960784);
  padding: 40px 0;
}

.link-redes {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 870px) {
  .infoSeccion-main {
    padding: 40px 60px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .infoSeccion-dectail {
    padding-top: 30px;
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
  .skillSeccion-soft {
    border: none;
    margin: 30px 0;
    border-right: #4e4e4e 1px solid;
    border-left: #4e4e4e 1px solid;
  }
  .skillSeccion-BigContainer {
    display: flex;
    justify-content: space-around;
  }
  .skillSeccion-softContainerInfo {
    width: 270px;
    height: 300px;
    margin: 0 10px;
  }
  .codeSeccion {
    position: relative;
    width: 100%;
    max-width: 900px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
  }
  .Skills {
    position: absolute;
    right: 920px;
  }
  .skillSeccion-big {
    display: flex;
    flex-direction: column;
    border: none;
    width: 400px;
  }
  .infoSeccion-body {
    padding: 0 50px;
  }
  .proyectSeccion-continer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .big-screen {
    margin-left: 20px;
  }
  .link-redes {
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    margin-bottom: 100px;
  }
  .whatseccion {
    padding: 0 50px;
  }
}
.inactive {
  display: none;
}/*# sourceMappingURL=style.css.map */